/* Page: All  */
html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Page: All -> Menu  */
.sidebar
{
    width: 280px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
}












/* Page: Index -> Main Content */
.content {
    padding-left: 300px;
    padding-top: 20px;
}


/* Page: Index -> Card */
.card /* Responsive */
{
    margin-bottom: 20px;
    flex: 0 0 calc(33.333% - 20px); /* Display 3 cards per line */
    /*max-width: calc(33.333% - 20px);*/ /* Display 3 cards per line*/
}


/* Page: Index -> Card  */
@media (max-width: 992px)
{
    .content {
        margin-left: 0; /* Remove left margin when screen is small */
        flex-direction: column; /* Align cards in a single column */
        align-items: center; /* Align the cards in the center */
    }

    .card {
        flex: 0 0 calc(100% - 20px); /* Adjust to show 1 card per line */
        max-width: calc(100% - 20px); /* Adjust to show 1 card per line */
    }
}









/* Page: Products -> Main Content */
.contentProduct
{
    padding-left: 300px;
    padding-top: 20px;
}



#itemForm
{
    position: absolute;
    width: 70%;
    top: 30%;
    right: 16px;
    font-size: 18px;
}

#contentProductTable
{
    display: block;
    position: absolute;
    top: 50%;
    left: 30%;
    height: 50%;        /* Define the the size of the table */
    overflow-y: scroll; /* add the Scroll */
}











/* Page: Customers -> Form */
.contentCustomers
{
    padding-left: 300px;
    padding-top: 20px;
}



#customerForm
{
    position: absolute;
    width: 70%;
    top: 10%;
    right: 16px;
    font-size: 18px;
}

/* Page: Customers -> Table */
.table-title
{
    position: absolute;
    top: 45%;
    left: 30%;
}

/* Page: Customers -> Table */
#customerTable
{
    display: block;
    position: absolute;
    top: 50%;
    left: 30%;
    height: 50%;        /* Define the the size of the table */
    overflow-y: scroll; /* add the Scroll */
}


